---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Main from '../components/Main.astro';
import H1 from '../components/H1.astro';
import PostList from '../components/PostList.astro';
import {getCollection} from 'astro:content';
const posts = await getCollection("posts");
console.log(posts);
---

<Layout title="Blog | Bedrani Nation ">
	<Main>
		<H1 text="Bedrani Nation Blog"/>
        {posts.map(post => (
            <PostList posts={posts}/>
        ))}
    </Main>
</Layout>
